#name, #firstM, #lastM, #firstDay, #lastDay {
	height: 30px;
	font-size: 20px;
}
span {
	color: red;
}
#tinh{
	color: white;
	margin-top: 20px;
	width: 	150px;
	height: 50px;
	font-size: 20px;
	border-radius: 10px;
	background-color: #f13;
}
body {
	text-align: center;
	margin: 0 auto;
}