#name, #firstM, #firstDay, #lastDay, #lastM, #firstDay, #lastDay {
	height: 30px;
	font-size: 16px;
	width: 300px;
	text-align: center;
	margin: 2px;
	border: 2px solid red;
}
span {
	color: red;
}
#tinh{
	color: white;
	margin-top: 20px;
	width: 	150px;
	height: 50px;
	font-size: 20px;
	border-radius: 10px;
	background-color: #f13;
	margin-bottom: 10px;
}
body {

	width: 100%;
}
.container {
	background-image: linear-gradient(to bottom, white,#11111111, #51ceed );
	margin: 0 auto;
	border-radius: 10px;
	border: 3px solid red;
	text-align: center;
	width: 500px;
	box-shadow: 10px 10px #f7a6a6;
}
.name {
	font-size: 20px;
}