
.ngoai{
	border-top: 3px solid black;
	border-left:  1px solid black;
	height: 300px;
	width: 250px;
	padding: 20px;
	box-shadow: 5px 5px 5px #666;

}
.navi{
	font-size: 30px;
}
.home{

	color: blue;
	border: 2px solid blue;
	font-size: 20px;
	height: 30px;
	width: 200px;
	padding-left: 10px;
	padding: 10px;
	margin: 5px;
}
.get{
	color: blue;
	border: 2px solid blue;
	font-size: 20px;
	height: 30px;
	width: 200px;
	padding: 10px;
	margin: 5px;
}
.become{
	color: blue;
	background-color: #0001;
	border: 2px solid blue;
	font-size: 20px;
	height: 30px;
	width: 200px;
	padding: 10px;
	margin: 5px;
}
.about{
	color: blue;
	border: 2px solid blue;
	font-size: 20px;
	height: 30px;
	width: 200px;
	padding: 10px;
	margin: 5px;
}