body{
	border: 5px solid black;
	margin: 0;
	font-size: 30px;
	text-align: center;
}
.header{
	background-color:#9900FF ;
	height: 100px;
	line-height: 100px;
	border-bottom: 1px solid black;
}
.left{
	float: left;
	width: 20%;

	line-height: 500px;
	height: 500px;
	background-color: #99CCFF;
	border-right:  1px solid black;
}
.mid{
	float: left;
	width: 59.7%;

	height: 500px;
	background-color: #99CCFF;
}
.pre{
	background-color: yellow;
	height: 10%;
}
#content{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	background-color: blue;
	height: 79.5%;
}
.post{
	background-color: white;
	height: 10%;
}
.right{
	float: left;
	width: 20%;
	height: 500px;
	line-height: 500px;
	border-left: 1px solid black;
	background-color: #99CCFF;
}
.footer{
	clear: left;
	height: 100px;

	line-height: 100px;
	border-top:1px solid black;
	background-color: #9900FF;
}