.container {
	width: 1000px;
	margin:0 auto;
	border: 1px solid #a8a7a7;
	height: 550px;
	font-size: 20px;
}
h1 {
	padding-left: 50px;
}
.login {
	float: left;
	width: 49%;
	margin-left: 15px;
}
.register {
	float: left;
	width: 49%;
}
.leftside {
	border: 1px solid #a8a7a7;
	margin-right: 50px;
	padding: 20px;
}
.user {
	height: 30px;
	font-style:  italic;
	color: #797b7d;
	font-size: 20px;
	line-height: 30px;
	background-color:  #ebebeb;
	width: 90%;
	margin-top: 10px;
	margin-bottom: 10px;
}
.pass {
	height: 30px;
	font-style:  italic;
	color: #797b7d;
	font-size: 20px;
	line-height: 30px;
	background-color:  #ebebeb;
	width: 90%;
	margin-top: 10px;
	margin-bottom: 10px;
}
.log {
	height: 30px;
	font-size: 20px;
	width: 80px;
	margin-top: 10px;
	margin-right: 10px;
	color: #8c8c8c;
}
.rightside {
	border: 1px solid #a8a7a7;
	margin-left: 20px;
	margin-right:15px; 
	padding: 5%;
}
.phone {
	height: 30px;
	font-style:  italic;
	color: #797b7d;
	font-size: 20px;
	line-height: 30px;
	background-color:  #ebebeb;
	width: 90%;
	margin-top: 10px;
	margin-bottom: 10px;
}
.firstname {
	float: left;
	width: 47%;
	margin-right:1%; 

}
.lastname {
	float: left;
	width: 47%;
}
.first {
	height: 30px;
	font-style:  italic;
	color: #797b7d;
	font-size: 20px;
	line-height: 30px;
	background-color:  #ebebeb;
	width: 90%;
	margin-top: 10px;
	margin-bottom: 10px;
}
.last {
	height: 30px;
	font-style:  italic;
	color: #797b7d;
	font-size: 20px;
	line-height: 30px;
	background-color:  #ebebeb;
	width: 90%;
	margin-top: 10px;
	margin-bottom: 10px;
}
.email {
	height: 30px;
	font-style:  italic;
	color: #797b7d;
	font-size: 20px;
	line-height: 30px;
	background-color:  #ebebeb;
	width: 90%;
	margin-top: 10px;
	margin-bottom: 10px;
}
.pw {
	height: 30px;
	font-style:  italic;
	color: #797b7d;
	font-size: 20px;
	line-height: 30px;
	background-color:  #ebebeb;
	width: 90%;
	margin-top: 10px;
	margin-bottom: 10px;
}
.reges {
	height: 30px;
	font-size: 20px;
	width: 120px;
	color: #8c8c8c;
	margin-top: 10px;
	margin-right: 10px;
}
@media only screen and (max-width: 768px) {
	.container {
		margin:0;
		padding:0;
		height: 950px;
		width: 100%;
	}
	.login {
		clear: left;
		width: 72%;
		margin-left: 19%;
	}
	.register {
		clear: left;
		width: 69%;
		margin-left: 17%;
	}
}