* {
	margin: 0;
	padding: 0;
}
.container ul{
	padding: 0;
}
.container {
	margin-top: 100px;
	padding: 10px;
	box-shadow: 2px 2px 6px black;
	border-left: 1px solid black ;
	border-top: 1px solid black ;
	width: 300px;
	background-color: #f1f1f1;
	height: 220px;
}

.container li {
	font-size: 25px;
	font-weight: bold;
	list-style: none;
	width: 250px;
	border: 2px solid #1e608f;
	margin-top: 10px;
	text-align: center;

}

.container li a {
	color: #1e608f;
	text-decoration: none;
	display: block;
}
.container li :hover{
	color: white;
	background-color: #1e608f;
}
.container #active {
	font-weight: bold;
	background-color: #CCD1D1;
}




