body{
	font-size: 30px;
	margin: 0;
	padding: 0;
	background-color: #0011;
	text-align: center;
	border: 3px solid black;
}
p{
	margin: 0;
}
.header{
	height: 100px;
	line-height: 100px;
	background-color: #0001;
	text-align: center;	
	border-bottom: 3px solid black;
}
.logo{
	border-right: 3px solid black;
	float:left;
	width: 25%;
}
.banner{
	width: 74.5%;
	float:left;
}
/* .head{
	margin-bottom: -20px;
} */
.bar{
	text-align: center;
	background-color: #0001;
	border-bottom: 3px solid black;
	height: 100px;
}
.side{ 
	float: left;
	width: 25%;
	height: 400px;
	background-color: #0001;
	line-height: 400px;
	border-right:  3px solid black;
}
.mid{
	background-color: #0001;
}
.content{
	line-height: 100%;
	float: left;
	width: 74.7%;
	height: 400px;
	line-height: 400px;
	background-color: #0001;
}
.footer{
	clear:left; 
	background-color: #0001;
	height: 100px;
	line-height: 100px;
	border-top: 3px solid black;
	text-align: center;	
}

ul li{
	margin: 0;
	float: left;
	list-style: none;
	text-decoration: none;
	padding-left: 5px;
}