* {
	margin: 5px;
	padding: 1;
}
#bg {
	margin:0 auto;
	width: 900px;
	border:3px solid black;
	box-shadow: 1px 1px 4px 3px black;
}
img {
	font-weight: bold;
	float: left;
	height: 120px;
	width: 12%;
}
.banner {
	float: left;
	height: 100px;
	width: 78%;
	padding-top: 15px;
	text-align: center;
}
.day {
	font-size: 29px;
}
.slogan {	
	text-align: center;
 	font-size: 50px;
	color: #E69B0A;
	text-shadow: 4px 4px 4px black;
}
.slogan2 {
	padding-top: 10px;
	color: green;
	font-size: 35px;
}
.content{
	padding-top: 70px;
	clear: left;
}
a {
	color: green;
}
.copy {
	text-align:  right;
	font-size: 20px;
	padding-bottom: 20px;
}
.info {
	font-size: 29px;
}