#bgr {
	background-image: url(../img/roadok.png);
	background-repeat: no-repeat;
	width: 500px;
	height: 500px;
	z-index: 0;
}
#run {
	width: 100px;
	height: 50px;

}

*{
	margin: 0;
}
#red-car {
	position: absolute;
	z-index: 5;
	width: 40px;
	height: 80px;
	left: 6px;
	top: 410px;
}
#red-car2 {
	display: none;
	position: absolute;
	z-index: 5;
	width: 80px;
	height: 40px;
	left: 6px;
	top: 6px;
}
#red-car3 {
	display: none;
	position: absolute;
	z-index: 5;
	width: 40px;
	height: 80px;
	left: 453px;
	top: 6px;
}
#red-car4 {display: none;
	position: absolute;
	z-index: 5;
	width: 80px;
	height: 40px;
	left: 410px;
	top: 453px;
}